<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=SQL5030.site4now.net;Initial Catalog=DB_A2AFC5_profiles;User Id=DB_A2AFC5_profiles_admin;Password=ootdat22;"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    
    
    <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime targetFramework="4.0"/>
      <sessionState
       
        cookieName="ASP.NET_SessionID"
        regenerateExpiredSessionId="false"
        timeout="20"
        />
   
    
      <anonymousIdentification enabled="true" cookieTimeout="50000" />
      <profile automaticSaveEnabled="false">
        <properties>
          <add name="FirstName" type="System.String" allowAnonymous="true"/>
          <add name="LastName" allowAnonymous="true"/>
          <add name="About" allowAnonymous="true"/>
          <add name="State"  allowAnonymous="true"/>
          <add name="City" allowAnonymous="true"/>
          <add name="Street" allowAnonymous="true"/>
          <add name="Hobbies" allowAnonymous="true"/>
          <add name="Work" allowAnonymous="true"/>
          <add name="Phone"  allowAnonymous="true"/>
          <add name="Email"  allowAnonymous="true"/>
          <add name="Zip" allowAnonymous="true"/>

          <add name="hobby" type="Hobbies"  allowAnonymous="true" />
          
        </properties>
      </profile>
    </system.web>
  

</configuration>
